.cases__conteiner {
    display: flex;
    flex-direction: column;
}
.cases__item-top {
    display: grid;
    grid-template-columns: 24.242fr 8.56fr 25.757fr 8.636fr 32.8fr;
    grid-template-rows: 8.948fr 31.083fr;
    grid-template-areas:
        "tl  tl   a   a   b "
        " c   c   a   a   b ";
    column-gap: 3px;
    overflow: hidden;
    border-radius: 12px 12px 0 0;
    background-color: white;
    order: 1;
    &:focus-within ~ .cases__wrap-text {
        margin: 1.5px 0;
        visibility: visible;
        opacity: 1;
        margin: 1.5px 0;
        max-height: 1000px;
    }
}
.cases__item-bottom {
    display: grid;
    grid-template-columns: 24.242fr 8.56fr 25.757fr 8.636fr 32.8fr;
    grid-template-rows: 31.083fr;
    grid-template-areas: " d   f   f   e   e ";
    column-gap: 3px;
    overflow: hidden;
    border-radius: 0 0 12px 12px;
    background-color: white;
    margin-bottom: 30px;
    order: 3;
    &:focus-within ~ .cases__wrap-text {
        margin: 1.5px 0;
        visibility: visible;
        opacity: 1;
        margin: 1.5px 0;
        max-height: 1000px;
    }
}
.cases__wrap-text {
    transform: all 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: map-get($color-grey, bg-alt);
    visibility: hidden;
    opacity: 1;
    order: 2;
    max-height: 0px;
    margin: 0;
    position: relative;
    z-index: -1;
    transition: all 1s;
}
.cases__card {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 100%;
    background-color: map-get($color-grey, bg);
    margin: 1.5px 0;
}
.cases__card-txt {
    display: none;
}
.cases__item-top > .cases__card {
    &:nth-child(1) {
        grid-area: tl;
    }
    &:nth-child(2) {
        grid-area: c;
    }
    &:nth-child(3) {
        grid-area: a;
    }
    &:nth-child(4) {
        grid-area: b;
    }
    &:not(.cases__card--nothover):hover,
    &:not(.cases__card--nothover):focus {
        background-color: map-get($color-grey, bg-alt);
    }
}
.cases__item-bottom > .cases__card {
    &:nth-child(1) {
        grid-area: d;
    }
    &:nth-child(2) {
        grid-area: f;
    }
    &:nth-child(3) {
        grid-area: e;
    }
    &:hover,
    &:focus {
        background-color: map-get($color-grey, bg-alt);
    }
}
.cases__title-h3caps {
    @include font-h3caps;
    color: $color-accent;
    margin: 20px;
    text-transform: uppercase;
}
.cases__title-h3 {
    @include font-h3;
    color: map-get($color-main, soft);
    margin: 20px 20px 0 20px;
}
.cases__copy {
    @include font-p;
    color: map-get($color-grey, text);
    padding: 20px;
}
.cases__text {
    @include font-p;
    color: black;
    padding: 40px 0;
    padding-left: calc(15% - 40px);
    padding-right: calc(15% - 40px);
}
