.clients__title-h3caps {
    text-align: center;
    @include font-h3caps;
    color: map-get($color-main, active);
    margin: 30px;
    text-transform: uppercase;
}
.clients__list {
    display: grid;
    grid-template-columns: repeat(4, 0.25fr);
    grid-template-rows: repeat(3, 120px);
}
.client__link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
}
.client__logo {
    width: 62%;
    transition: all 0.5s;
    &:hover {
        width: 70%;
    }
}
.client__link {
    height: 120px;
}
.client__link--hillel {
    background-color: #1c4280;
}
.client__link--wannabiz {
    background: #143646;
}
.client__link--tapgerine {
    background: #F48B30;
}
.client__link--3dlook {
    background: #9E4DC3;
}
.client__link--orangear {
    background: #FD9339;
}
.client__link--adtelligent {
    background: #E2E2E4;
}
.client__link--clickky {
    background: #C71C36;
}
.client__link--eco-leasing {
    background: #DCF3F9;
}
.client__link--infa-tek {
    background: #EAEAEA;
}
.client__link--citi-park {
    background: #282240;
}
.client__link--art-print {
    background: #1D4568;
}
.client__link--ultimate {
    background: #000000;
}
