.clients__title-h3caps {
    text-align: center;
    @include font-h3caps;
    color: map-get($color-main, active);
    margin: 30px;
    text-transform: uppercase;
}
.clients__list {
    display: grid;
    grid-template-columns: repeat(4, 0.25fr);
    grid-template-rows: repeat(3, 120px);
}
.client__link {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 100%;
}
.client__logo {
    --width-logo: 55%;
    width: var(--width-logo);
    transition: all 0.3s;
    &:hover {
        --width-logo: 65%;
    }
}
.client__link--hillel {
    background-color: #1c4280;
}
.client__link--wannabiz {
    background: #143646;
}
.client__link--tapgerine {
    background: #f48b30;
}
.client__link--3dlook {
    background: #9e4dc3;
}
.client__link--orangear {
    background: #fd9339;
}
.client__link--adtelligent {
    background: #e2e2e4;
}
.client__link--clickky {
    background: #c71c36;
    .client__logo {
        width: calc(var(--width-logo) - 10%);
    }
}
.client__link--eco-leasing {
    background: #dcf3f9;
    .client__logo {
        width: calc(var(--width-logo) - 10%);
    }
}
.client__link--infa-tek {
    background: #eaeaea;
}
.client__link--citi-park {
    background: #282240;
}
.client__link--art-print {
    background: #1d4568;
}
.client__link--ultimate {
    background: #000000;
    .client__logo {
        width: calc(var(--width-logo) - 10%);
    }
}
