.hero {
    min-height: 100vh;
    background: linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7a425e 87.53%);
    background-size: cover;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
}
.hero__header {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    margin-top: 50px;
}
.hero__wrap-nav {
    display: flex;
    flex-direction: column;
}
.hero__wrap-switch-language {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}
.switch-language {
    display: inline-flex;
    align-items: center;
}
.switch-name {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    line-height: (14 / 12);
    color: #ffffff;
    padding: 5px 6px;
    border-radius: 8px;
}
.switch__input {
    -webkit-appearance: none;
    &:checked ~ .switch-name {
        background-color: #f0145a;
    }
    &:hover ~ .switch-name {
        background-color: #ededf7;
        cursor: pointer;
    }
}
.hero__content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    background-image: linear-gradient(180deg, rgba(50, 50, 100, 0) 16.67%, #323264 100%), url(../img/img-hero/logo.svg),
        url(../img/img-hero/frame.svg);
    background-size: 100% 20vh, 82vh, 82vh;
    background-repeat: no-repeat;
    background-position: bottom;
    position: relative;
}
.logo-min {
    width: 155px;
    height: 62px;
}
.hero__facebook-logo {
    display: inline-flex;
    width: 24px;
    height: 24px;
    align-items: center;
    &:hover path {
        fill: #24a3ff;
    }
}
.hero__copyright-adress {
    display: inline-flex;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 1.187;
    color: #ffffff;
    align-items: center;
}
.hero__copyright-tel {
    display: inline-flex;
    font-weight: bold;
    font-size: 1.6rem;
    line-height: 1.187;
    color: #ffffff;
    align-items: center;
}
.hero__copyright-tel::before,
.hero__copyright-tel::after,
.hero__copyright-adress::before {
    content: "\25CF ";
    color: inherit;
    margin-right: 5px;
    margin-left: 5px;
    font-weight: normal;
    font-size: 1rem;
}
.nav__list {
    display: flex;
    gap: 15px;
    flex-direction: row;
    justify-content: end;
}
.nav__link {
    font-size: 18px;
    line-height: (21 / 18);
    color: #ffffff;
    &:hover {
        color: #F0145A;
    }
}
.hero__h1 {
    display: block;
    font-weight: normal;
    font-size: 38px;
    line-height: 1.184;
    text-align: center;
    color: #ffffff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -150%);
}
.hero__arrow {
    color: white;
    margin-bottom: 20px;
}
