.team__card {
    margin: 40px 0 20px;
    display: grid;
    grid-template-columns: 0.33fr 0.67fr;
    border-radius: 12px;
    overflow: hidden;
    @include tablet-850() {
        position: relative;
        grid-template-columns: 1fr;
    }
}
.team__wrap-img {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    @include tablet-850() {
        width: 120px;
        height: 150px;
        border-radius: 12px;
        position: absolute;
        left: 20px;
        bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    @include mobile-550() {
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }
}
.team__img {
    width: 100%;
    height: 100%;
    @include mobile-550() {
        height: 115%;
    }
}
.team__content {
    padding: 40px;
    background: #f5f5fa;
    @include tablet-970() {
        padding: 20px;
    }
}
.team__link {
    @include font-h3caps;
    color: map-get($color-active, regular);
    margin-bottom: 3px;
    &:hover {
        color: $color-accent;
        opacity: 1;
        transition: all 0.3s;
    }
}
.team__title {
    @include font-hero;
    @include color-hero;
    margin-bottom: 20px;
    @include tablet-970() {
        margin-bottom: 25px;
    }
    @include mobile-550() {
        margin-bottom: 15px;
    }
}
.team__name {
    @include font-h4;
    margin-bottom: 5px;
    color: map-get($color-grey, text);
    @include tablet-850() {
        margin-left: 130px;
    }
    @include mobile-550() {
        margin-left: 70px;
    }
}
.team__position {
    @include font-p;
    color: map-get($color-grey, text);
    @include tablet-850() {
        margin-bottom: 95px;
        margin-left: 130px;
    }
    @include mobile-550() {
        margin-bottom: 7px;
        margin-left: 70px;
    }
}
.slider-pagination {
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}
.slider-pagination__bg {
    display: inline-block;
    background-color: rgba(36, 163, 255, 0.2);
    padding: 8px;
    border-radius: 50%;
    transform: translateX(-90%);
    transition: 0.3s;
}
.slider-pagination__input {
    -webkit-appearance: none;
    &:hover ~ .slider-pagination__bg {
        background-color: rgba(36, 163, 255, 0.6);
        cursor: pointer;
    }
    &:checked ~ .slider-pagination__bg {
        background-color: rgba(36, 163, 255, 1);
    }
}
