@charset "UTF-8";
.button {
  font-size: 1.4rem;
  line-height: 1.21429;
  width: 250px;
  height: 50px;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  background: #24a3ff;
  box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
  border-radius: 12px;
  transition: all 0.3s; }
  .button:hover {
    background: #0085ff; }
  .button:active {
    background: #006ccf; }

@font-face {
  font-family: "TTNorms";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/TTNorms-Bold.woff2") format("woff2"); }

@font-face {
  font-family: "TTNorms";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/TTNorms-Medium.woff2") format("woff2"); }

@font-face {
  font-family: "TTNorms";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/TTNorms-Regular.woff2") format("woff2"); }

html,
body,
button,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  /* нулевая граница */
  padding: 0;
  /* нулевые отступы */
  border: 0;
  /* больше всего для картинок в IE6 */
  outline: 0;
  /* точечная граница вокруг ссылок в Firefox */
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none;
  /* маркеры без кружочков */ }

* {
  box-sizing: border-box; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

:focus {
  outline: 0;
  /* Firefox выделяет рамкой из точек все ссылки при нажатии */ }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  /* cellspacing="0" */
  border-spacing: 0; }

img {
  width: 100%;
  /* Упрощаем работу с изображениями */
  display: block; }

a {
  text-decoration: none;
  /* убирает подчеркивание текста */
  color: #000; }

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font-family: inherit; }

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important; } }

html {
  font-family: TTNorms, sans-serif;
  font-style: normal;
  font-size: 10px; }
  @media (max-width: 970px) {
    html {
      font-size: 9px; } }
  @media (max-width: 550px) {
    html {
      font-size: 10px; } }

.conteiner {
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 2px; }
  @media (max-width: 1315px) {
    .conteiner {
      width: 97%; } }
  @media (max-width: 550px) {
    .conteiner {
      width: 90%; } }

.hero {
  min-height: 100vh;
  background: linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7a425e 87.53%);
  background-size: cover;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between; }

.hero__header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 50px; }
  @media (max-width: 1315px) {
    .hero__header {
      width: 95%; } }
  @media (max-width: 1024px) {
    .hero__header {
      position: relative;
      margin-top: 20px; } }

@media (max-width: 1024px) {
  .hero-topbar {
    position: absolute;
    top: 28px; } }

@media (max-width: 550px) {
  .hero-topbar {
    top: 35px; } }

.hero__wrap-nav {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: flex-end; }
  @media (max-width: 768px) {
    .hero__wrap-nav {
      align-items: flex-start; } }
  @media (max-width: 550px) {
    .hero__wrap-nav {
      align-items: flex-end;
      width: 100%; } }

.hero__wrap-switch-language {
  display: flex;
  align-items: center;
  margin-bottom: 16px; }
  @media (max-width: 1024px) {
    .hero__wrap-switch-language {
      margin-bottom: 35px; } }
  @media (max-width: 768px) {
    .hero__wrap-switch-language {
      margin-bottom: 78px; } }
  @media (max-width: 550px) {
    .hero__wrap-switch-language {
      margin-bottom: 10px;
      width: 100%; } }

.switch-language {
  display: inline-flex;
  align-items: center; }
  @media (max-width: 550px) {
    .switch-language {
      flex-grow: 1; } }

.switch-name {
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.16667;
  color: #ffffff;
  padding: 5px 6px;
  border-radius: 8px;
  transition: 0.5s;
  transform: translateX(-40%); }

.switch__input {
  -webkit-appearance: none; }
  .switch__input:hover ~ .switch-name {
    background-color: #ededf7;
    cursor: pointer; }
  .switch__input:checked ~ .switch-name {
    background-color: #f0145a; }

.hero__content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  background-image: linear-gradient(180deg, rgba(50, 50, 100, 0) 16.67%, #323264 100%), url(../img/img-hero/logo.svg), url(../img/img-hero/frame.svg);
  background-size: 100% 20vh, 82vh, 82vh;
  background-repeat: no-repeat;
  background-position: bottom;
  position: relative; }
  @media (max-width: 550px) {
    .hero__content {
      background-image: linear-gradient(180deg, rgba(50, 50, 100, 0) 16.67%, #323264 100%), url(../img/img-hero/logo.svg);
      background-size: 100% 20vh, 82vh; } }

.logo-min {
  width: 155px;
  height: 62px; }
  @media (max-width: 550px) {
    .logo-min {
      width: 77px;
      height: 31px; } }

.hero__facebook-logo {
  width: 24px;
  height: 24px; }
  .hero__facebook-logo:hover path {
    fill: #24a3ff; }
  @media (max-width: 550px) {
    .hero__facebook-logo {
      display: none; } }

.hero__copyright-adress {
  display: inline-flex;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.18;
  color: #ffffff; }
  @media (max-width: 550px) {
    .hero__copyright-adress {
      display: none; } }

.hero__copyright-tel {
  display: inline-flex;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.18;
  font-weight: bold;
  color: #ffffff; }

.hero__copyright-tel::before,
.hero__copyright-tel::after,
.hero__copyright-adress::before {
  content: url(../img/img-hero/dot.svg);
  display: inline-flex;
  align-items: center;
  color: #E6E6F0;
  margin-right: 5px;
  margin-left: 5px; }
  @media (max-width: 550px) {
    .hero__copyright-tel::before,
    .hero__copyright-tel::after,
    .hero__copyright-adress::before {
      display: none; } }
  @media (max-width: 550px) {
    .hero__copyright-tel::before,
    .hero__copyright-tel::after,
    .hero__copyright-adress::before {
      display: none; } }

.hero__burger-menu {
  display: none; }
  @media (max-width: 550px) {
    .hero__burger-menu {
      display: inline-block;
      width: 32px;
      height: 32px;
      background-color: transparent;
      border-radius: 3px 3px 0 0;
      position: relative;
      transition: all 0.3s; } }
  .hero__burger-menu:hover {
    background-color: white; }
  .hero__burger-menu:hover .menu-stik {
    background-color: transparent; }
  .hero__burger-menu:hover .menu-stik::before {
    top: 0;
    left: 0;
    transform: rotate(45deg);
    background-color: #f0145a; }
  .hero__burger-menu:hover .menu-stik::after {
    top: 0;
    left: 0;
    transform: rotate(-45deg);
    background-color: #f0145a; }
  .hero__burger-menu:hover ~ .nav__list {
    visibility: visible;
    opacity: 1;
    top: 100%; }

.menu-stik {
  display: inline-block;
  width: 18px;
  height: 2px;
  background-color: white;
  position: absolute;
  top: 15px;
  right: 7px;
  transition: all 0.3s; }
  .menu-stik::before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 2px;
    background-color: white;
    position: absolute;
    top: -6px;
    left: 0;
    transition: all 0.3s; }
  .menu-stik::after {
    content: "";
    display: inline-block;
    width: 18px;
    height: 2px;
    background-color: white;
    position: absolute;
    top: 6px;
    left: 0;
    transition: all 0.3s; }

.nav__list {
  display: flex;
  gap: 15px;
  flex-direction: row;
  justify-content: end; }
  @media (max-width: 550px) {
    .nav__list {
      visibility: hidden;
      opacity: 0;
      position: absolute;
      top: 0;
      z-index: 2;
      gap: 11px;
      width: 100%;
      flex-direction: column;
      background-color: white;
      transition: all 0.3s;
      padding: 10px 0; } }

.nav__item {
  display: flex;
  justify-content: center; }
  @media (max-width: 550px) {
    .nav__item {
      background-color: #f5f5fa;
      overflow: hidden; } }

.nav__link {
  font-size: 18px;
  line-height: 1.16667;
  color: #ffffff;
  transition: 0.5s; }
  @media (max-width: 550px) {
    .nav__link {
      color: #24a3ff;
      padding: 6px 0; } }
  .nav__link:hover {
    color: #f0145a; }

.hero__h1 {
  display: inline-block;
  font-weight: normal;
  font-size: 38px;
  line-height: 1.184;
  text-align: center;
  color: #ffffff;
  position: absolute;
  top: 50%;
  transform: translate(0, -150%); }
  @media (max-width: 550px) {
    .hero__h1 {
      transform: translate(0, -90%); } }

.hero__arrow {
  color: white;
  margin-bottom: 20px; }

.experience__conteiner {
  display: flex;
  justify-content: center;
  padding: 60px 0;
  overflow: hidden; }
  @media (max-width: 760px) {
    .experience__conteiner {
      flex-direction: column-reverse;
      position: relative;
      padding: 80px 0; } }
  @media (max-width: 550px) {
    .experience__conteiner {
      padding-bottom: 45px;
      padding-top: 60px; } }

.experience__list {
  display: flex;
  flex-direction: column;
  overflow: hidden; }
  @media (max-width: 760px) {
    .experience__list {
      flex-direction: row;
      justify-content: center; } }

.experience__item {
  position: relative; }
  @media (max-width: 760px) {
    .experience__item {
      position: static; } }

.experience__link {
  display: block;
  text-align: right;
  font-weight: 700;
  font-size: 4.2rem;
  line-height: 1.19048;
  color: #b3b3ba;
  border-right: 4px solid #b3b3ba;
  padding-right: 40px;
  transition: all 0.3s;
  transform: translateY(-10%); }
  @media (max-width: 970px) {
    .experience__link {
      font-size: 3.8rem; } }
  @media (max-width: 768px) {
    .experience__link {
      font-size: 3.2rem; } }
  @media (max-width: 970px) {
    .experience__link {
      padding-right: 20px; } }
  @media (max-width: 760px) {
    .experience__link {
      padding: 0;
      border: none;
      font-weight: 700;
      font-size: 1.4rem;
      line-height: 1.21429;
      position: absolute;
      left: 0;
      top: 40px;
      visibility: hidden;
      transform: translateY(0);
      color: transparent;
      letter-spacing: 1px;
      text-transform: uppercase; } }

.experience__link-slider {
  display: none;
  background-color: rgba(36, 163, 255, 0.2);
  padding: 8px;
  border-radius: 50%;
  transform: translateX(-90%);
  transition: 0.3s; }
  @media (max-width: 760px) {
    .experience__link-slider {
      display: inline-block; } }

.experience__item-input {
  position: absolute;
  -webkit-appearance: none; }
  .experience__item-input:hover ~ .experience__link,
  .experience__item-input:focus ~ .experience__link,
  .experience__item-input:checked ~ .experience__link {
    background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
    background-clip: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
    -webkit-background-clip: text;
    color: transparent;
    border-right-color: #f0145a; }
    @media (max-width: 760px) {
      .experience__item-input:hover ~ .experience__link,
      .experience__item-input:focus ~ .experience__link,
      .experience__item-input:checked ~ .experience__link {
        visibility: visible; } }
  @media (max-width: 760px) {
    .experience__item-input {
      position: static; }
      .experience__item-input:hover ~ .experience__link-slider {
        background-color: rgba(36, 163, 255, 0.6); }
      .experience__item-input:checked ~ .experience__link-slider {
        background-color: #24a3ff; } }

.experience__link-span {
  display: flex;
  justify-content: end; }
  @media (max-width: 760px) {
    .experience__link-span {
      display: inline-flex; } }

.experience__wrap-text {
  width: 50%;
  padding: 35px 0 0 40px; }
  @media (max-width: 1024px) {
    .experience__wrap-text {
      width: 55%;
      padding: 20px 0 0 40px; } }
  @media (max-width: 970px) {
    .experience__wrap-text {
      padding: 10px 0 0 20px; } }
  @media (max-width: 760px) {
    .experience__wrap-text {
      width: 100%;
      padding: 0 0 20px 0; } }

.experience-h2 {
  font-weight: 500;
  font-size: 3.2rem;
  line-height: 1.1875;
  color: #ffffff;
  margin-bottom: 20px; }
  @media (max-width: 768px) {
    .experience-h2 {
      font-size: 2.2rem; } }
  @media (max-width: 550px) {
    .experience-h2 {
      margin-bottom: 15px; } }

.experience__text {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.44444;
  color: #ffffff; }
  @media (max-width: 768px) {
    .experience__text {
      font-size: 1.6rem; } }

.services {
  padding-bottom: 20px;
  position: relative;
  overflow: hidden; }
  .services::before {
    content: "";
    position: absolute;
    display: block;
    width: calc(100% - 40px);
    height: 10px;
    border-radius: 0 0 12px 12px;
    background: #cacadb;
    left: 20px;
    bottom: 10px; }
  .services::after {
    content: "";
    display: block;
    position: absolute;
    width: calc(100% - 80px);
    height: 10px;
    border-radius: 0 0 12px 12px;
    background: #e7e7f2;
    left: 40px;
    bottom: 0; }

.services--wrap {
  background-image: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  border-radius: 0px 0px 12px 12px; }

.services-link {
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.21429;
  color: #ffffff;
  opacity: 0.5;
  margin-bottom: 3px; }
  .services-link:hover {
    color: #f0145a;
    opacity: 1;
    transition: all .5s; }

.services__title {
  font-weight: 700;
  font-size: 4.2rem;
  line-height: 1.19048;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  background-clip: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  color: transparent;
  margin-bottom: 68px; }
  @media (max-width: 970px) {
    .services__title {
      font-size: 3.8rem; } }
  @media (max-width: 768px) {
    .services__title {
      font-size: 3.2rem; } }
  @media (max-width: 850px) {
    .services__title {
      margin-bottom: 30px; } }
  @media (max-width: 550px) {
    .services__title {
      margin-bottom: 0; } }

.services__card {
  padding: 1px; }
  @media (max-width: 550px) {
    .services__card {
      display: grid;
      grid-template-columns: 64px 1fr;
      grid-template-rows: 64px 1fr;
      gap: 10px;
      margin-top: 20px; } }

.services__img {
  width: 92px;
  margin-bottom: 20px; }
  @media (max-width: 970px) {
    .services__img {
      width: 72px; } }
  @media (max-width: 550px) {
    .services__img {
      width: 64px;
      display: inline-block;
      margin-bottom: 0;
      grid-area: 1 / 1 / 1 / 1; } }

.services__card-link {
  display: inline-block; }
  .services__card-link:hover > .services__title-card {
    color: #f0145a; }
  @media (max-width: 550px) {
    .services__card-link {
      grid-area: 1 / 2 / 1 / 2;
      display: flex; } }

.services__title-card {
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 1.16667;
  color: #24a3ff;
  margin-bottom: 15px;
  transition: all .3s; }
  @media (max-width: 768px) {
    .services__title-card {
      font-size: 1.8rem; } }
  @media (max-width: 550px) {
    .services__title-card {
      margin-bottom: 0;
      display: flex;
      align-items: center; } }

.services__text-card {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.44444;
  color: #ffffff;
  margin-bottom: 58px; }
  @media (max-width: 768px) {
    .services__text-card {
      font-size: 1.6rem; } }
  @media (max-width: 850px) {
    .services__text-card {
      margin-bottom: 30px; } }
  @media (max-width: 550px) {
    .services__text-card {
      grid-area: 2 / 1 / 2 / 3;
      margin-bottom: 20px; } }

.services__wrap-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  column-gap: 40px;
  overflow: hidden; }
  @media (max-width: 760px) {
    .services__wrap-cards {
      grid-template-columns: 1fr 1fr; } }
  @media (max-width: 550px) {
    .services__wrap-cards {
      grid-template-columns: 1fr; } }

.team__card {
  margin: 40px 0 20px;
  display: grid;
  grid-template-columns: 0.33fr 0.67fr;
  border-radius: 12px;
  overflow: hidden; }
  @media (max-width: 850px) {
    .team__card {
      position: relative;
      grid-template-columns: 1fr; } }

.team__wrap-img {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media (max-width: 850px) {
    .team__wrap-img {
      width: 120px;
      height: 150px;
      border-radius: 12px;
      position: absolute;
      left: 20px;
      bottom: 20px;
      display: flex;
      justify-content: center;
      align-items: center; } }
  @media (max-width: 550px) {
    .team__wrap-img {
      width: 60px;
      height: 60px;
      border-radius: 50%; } }

.team__img {
  width: 100%;
  height: 100%; }
  @media (max-width: 550px) {
    .team__img {
      height: 115%; } }

.team__content {
  padding: 40px;
  background: #f5f5fa; }
  @media (max-width: 970px) {
    .team__content {
      padding: 20px; } }

.team__link {
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.21429;
  color: #24a3ff;
  margin-bottom: 3px; }
  .team__link:hover {
    color: #f0145a;
    opacity: 1;
    transition: all 0.3s; }

.team__title {
  font-weight: 700;
  font-size: 4.2rem;
  line-height: 1.19048;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  background-clip: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  color: transparent;
  margin-bottom: 20px; }
  @media (max-width: 970px) {
    .team__title {
      font-size: 3.8rem; } }
  @media (max-width: 768px) {
    .team__title {
      font-size: 3.2rem; } }
  @media (max-width: 970px) {
    .team__title {
      margin-bottom: 25px; } }
  @media (max-width: 550px) {
    .team__title {
      margin-bottom: 15px; } }

.team__name {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.16667;
  margin-bottom: 5px;
  color: #b3b3ba; }
  @media (max-width: 850px) {
    .team__name {
      margin-left: 130px; } }
  @media (max-width: 550px) {
    .team__name {
      margin-left: 70px; } }

.team__position {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.44444;
  color: #b3b3ba; }
  @media (max-width: 768px) {
    .team__position {
      font-size: 1.6rem; } }
  @media (max-width: 850px) {
    .team__position {
      margin-bottom: 95px;
      margin-left: 130px; } }
  @media (max-width: 550px) {
    .team__position {
      margin-bottom: 7px;
      margin-left: 70px; } }

.slider-pagination {
  margin-bottom: 40px;
  display: flex;
  justify-content: center; }

.slider-pagination__bg {
  display: inline-block;
  background-color: rgba(36, 163, 255, 0.2);
  padding: 8px;
  border-radius: 50%;
  transform: translateX(-90%);
  transition: 0.3s; }

.slider-pagination__input {
  -webkit-appearance: none; }
  .slider-pagination__input:hover ~ .slider-pagination__bg {
    background-color: rgba(36, 163, 255, 0.6);
    cursor: pointer; }
  .slider-pagination__input:checked ~ .slider-pagination__bg {
    background-color: #24a3ff; }

.cases__conteiner {
  display: flex;
  flex-direction: column; }

.cases__item-top {
  display: grid;
  grid-template-columns: 24.242fr 8.56fr 25.757fr 8.636fr 32.8fr;
  grid-template-rows: 8.948fr 31.083fr;
  grid-template-areas: "tl  tl   a   a   b " " c   c   a   a   b ";
  column-gap: 3px;
  overflow: hidden;
  border-radius: 12px 12px 0 0;
  background-color: white;
  order: 1; }
  .cases__item-top:focus-within ~ .cases__wrap-text {
    margin: 1.5px 0;
    visibility: visible;
    opacity: 1;
    margin: 1.5px 0;
    max-height: 1000px; }
  @media (max-width: 760px) {
    .cases__item-top {
      display: flex;
      flex-direction: column; } }

.cases__item-bottom {
  display: grid;
  grid-template-columns: 24.242fr 8.56fr 25.757fr 8.636fr 32.8fr;
  grid-template-rows: 31.083fr;
  grid-template-areas: " d   f   f   e   e ";
  column-gap: 3px;
  overflow: hidden;
  border-radius: 0 0 12px 12px;
  background-color: white;
  margin-bottom: 30px;
  order: 3; }
  .cases__item-bottom:focus-within ~ .cases__wrap-text {
    margin: 1.5px 0;
    visibility: visible;
    opacity: 1;
    margin: 1.5px 0;
    max-height: 1000px; }
  @media (max-width: 760px) {
    .cases__item-bottom {
      display: flex;
      flex-direction: column; } }

.cases__wrap-text {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ededf7;
  visibility: hidden;
  opacity: 1;
  order: 2;
  max-height: 0px;
  margin: 0;
  position: relative;
  z-index: -1;
  transition: all 1s ease-out; }
  @media (max-width: 760px) {
    .cases__wrap-text {
      display: none; } }

.cases__card {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 100%;
  background-color: #f5f5fa;
  margin: 1.5px 0;
  position: relative; }
  .cases__card:hover > .cases__card-txt {
    visibility: visible;
    opacity: 1;
    max-height: 100%;
    padding: 20px 20px 72px 20px;
    transition: all 0.5s ease-out;
    border-top: 3px solid white; }

.cases__card-txt {
  display: none; }
  @media (max-width: 760px) {
    .cases__card-txt {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      visibility: hidden;
      opacity: 0;
      max-height: 0;
      margin: 0;
      transition: all 0.5s ease-out; }
      .cases__card-txt:hover {
        opacity: 0; }
      .cases__card-txt::after {
        content: url('data:image/svg+xml,            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 477.175 477.175">            <path d="M360.731 229.075l-225.1-225.1c-5.3-5.3-13.8-5.3-19.1 0s-5.3 13.8 0 19.1l215.5 215.5-215.5 215.5c-5.3 5.3-5.3 13.8 0 19.1 2.6 2.6 6.1 4 9.5 4 3.4 0 6.9-1.3 9.5-4l225.1-225.1c5.3-5.2 5.3-13.8.1-19z" fill="%2324A3FF"/>            </svg>');
        transform: rotate(-90deg);
        background-color: #f5f5fa;
        display: block;
        padding: 5px;
        border-radius: 50%;
        height: 22px;
        width: 22px;
        position: absolute;
        bottom: 20px;
        right: 20px; } }

.cases__item-top > .cases__card:nth-child(1) {
  grid-area: tl; }

.cases__item-top > .cases__card:nth-child(2) {
  grid-area: c; }

.cases__item-top > .cases__card:nth-child(3) {
  grid-area: a; }

.cases__item-top > .cases__card:nth-child(4) {
  grid-area: b; }

.cases__item-top > .cases__card:not(.cases__card--nothover):hover, .cases__item-top > .cases__card:not(.cases__card--nothover):focus {
  background-color: #ededf7; }

.cases__item-bottom > .cases__card:nth-child(1) {
  grid-area: d; }

.cases__item-bottom > .cases__card:nth-child(2) {
  grid-area: f; }

.cases__item-bottom > .cases__card:nth-child(3) {
  grid-area: e; }

.cases__item-bottom > .cases__card:hover, .cases__item-bottom > .cases__card:focus {
  background-color: #ededf7; }

.cases__title-h3caps {
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.21429;
  color: #f0145a;
  margin: 20px;
  text-transform: uppercase; }

.cases__title-h3 {
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 1.16667;
  color: #686887;
  margin: 20px 20px 0 20px; }
  @media (max-width: 768px) {
    .cases__title-h3 {
      font-size: 1.8rem; } }

.cases__copy {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.44444;
  color: #b3b3ba;
  padding: 20px; }
  @media (max-width: 768px) {
    .cases__copy {
      font-size: 1.6rem; } }
  @media (max-width: 550px) {
    .cases__copy {
      padding-top: 10px; } }

.cases__text {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.44444;
  color: black;
  padding: 40px 0;
  padding-left: calc(15% - 40px);
  padding-right: calc(15% - 40px); }
  @media (max-width: 768px) {
    .cases__text {
      font-size: 1.6rem; } }
  @media (max-width: 760px) {
    .cases__text {
      padding: 0; } }

.clients__title-h3caps {
  text-align: center;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.21429;
  margin: 30px;
  text-transform: uppercase; }

.clients__list {
  display: grid;
  grid-template-columns: repeat(4, 25vw);
  grid-template-rows: repeat(3, 8.33vw); }
  @media (max-width: 768px) {
    .clients__list {
      grid-template-columns: repeat(3, 33vw);
      grid-template-rows: repeat(4, 12vw); } }
  @media (max-width: 550px) {
    .clients__list {
      grid-template-columns: repeat(2, 50vw);
      grid-template-rows: repeat(6, 19vw); } }

.client__link {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 100%; }

.client__logo {
  --width-logo: 55%;
  width: var(--width-logo);
  transition: all 0.3s; }
  .client__logo:hover {
    --width-logo: 65%; }

.client__link--hillel {
  background-color: #1c4280; }

.client__link--wannabiz {
  background: #143646; }

.client__link--tapgerine {
  background: #f48b30; }

.client__link--3dlook {
  background: #9e4dc3; }

.client__link--orangear {
  background: #fd9339; }

.client__link--adtelligent {
  background: #e2e2e4; }

.client__link--clickky {
  background: #c71c36; }
  .client__link--clickky .client__logo {
    width: calc(var(--width-logo) - 10%); }

.client__link--eco-leasing {
  background: #dcf3f9; }
  .client__link--eco-leasing .client__logo {
    width: calc(var(--width-logo) - 10%); }

.client__link--infa-tek {
  background: #eaeaea; }

.client__link--citi-park {
  background: #282240; }

.client__link--art-print {
  background: #1d4568; }

.client__link--ultimate {
  background: #000000; }
  .client__link--ultimate .client__logo {
    width: calc(var(--width-logo) - 10%); }

.publictions {
  background-color: #f5f5fa; }

.publictions__conteiner {
  position: relative;
  height: 850px;
  overflow: hidden; }
  @media (max-width: 550px) {
    .publictions__conteiner {
      height: 980px; } }

.publictions__section-nav {
  display: inline-block;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.21429;
  color: #24a3ff;
  margin-top: 40px;
  margin-bottom: 3px; }
  .publictions__section-nav:hover {
    color: #f0145a;
    opacity: 1;
    transition: all 0.5s; }
  @media (max-width: 550px) {
    .publictions__section-nav {
      margin-top: 20px; } }

.publictions__title-h2 {
  font-weight: 700;
  font-size: 4.2rem;
  line-height: 1.19048;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  background-clip: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  color: transparent;
  margin-bottom: 40px; }
  @media (max-width: 970px) {
    .publictions__title-h2 {
      font-size: 3.8rem; } }
  @media (max-width: 768px) {
    .publictions__title-h2 {
      font-size: 3.2rem; } }
  @media (max-width: 550px) {
    .publictions__title-h2 {
      margin-bottom: 20px; } }

.publictions__frame-items {
  display: flex;
  flex-flow: column wrap;
  align-content: space-between;
  height: 1000px;
  overflow: hidden; }
  @media (max-width: 970px) {
    .publictions__frame-items {
      height: 900px; } }
  @media (max-width: 760px) {
    .publictions__frame-items {
      height: 1000px; } }
  @media (max-width: 550px) {
    .publictions__frame-items {
      height: 2000px;
      flex-wrap: nowrap; } }

.publictions__frame {
  border-radius: 8px;
  overflow: hidden;
  background: #ffffff;
  width: 31.5%;
  margin-bottom: 2.2vw; }
  .publictions__frame:first-child .publictions__frame-img {
    display: none; }
  .publictions__frame:nth-of-type(3n + 1) {
    order: 1; }
  .publictions__frame:nth-of-type(3n + 2) {
    order: 2; }
  .publictions__frame:nth-of-type(3n) {
    order: 3; }
  @media (max-width: 550px) {
    .publictions__frame {
      width: 100%; }
      .publictions__frame:nth-of-type(1n) {
        order: 1; } }

.publications__frame-wrap-content {
  margin: 20px; }

.publictions__frame-title {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.16667;
  color: #24a3ff;
  margin-bottom: 10px; }

.publictions__data {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.44444;
  color: #b3b3ba;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.16667;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 4px solid #e6e6f0; }
  @media (max-width: 768px) {
    .publictions__data {
      font-size: 1.6rem; } }
  @media (max-width: 550px) {
    .publictions__data {
      border-bottom: none;
      padding-bottom: 0; } }

.publictions__text {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.44444;
  font-size: 1.6rem;
  line-height: 1.375;
  color: black; }
  @media (max-width: 768px) {
    .publictions__text {
      font-size: 1.6rem; } }
  @media (max-width: 550px) {
    .publictions__text {
      display: none; } }

.publictions__conteiner-overlay {
  position: absolute;
  height: 200px;
  width: 100%;
  bottom: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(245, 245, 250, 0) 0%, #f5f5fa 86.5%);
  background-size: cover;
  border-bottom: 4px solid #e6e6f0;
  justify-content: center;
  align-items: flex-end;
  display: flex; }
  @media (max-width: 550px) {
    .publictions__conteiner-overlay {
      background: linear-gradient(180deg, rgba(245, 245, 250, 0) 0%, #f5f5fa 36.5%);
      height: 130px; } }

.publictions__button {
  color: white;
  margin-bottom: 40px; }

.footer {
  background-color: #f5f5fa; }

.footer__conteiner {
  padding: 34px 0 40px;
  display: flex;
  justify-content: space-between;
  overflow: hidden; }
  @media (max-width: 768px) {
    .footer__conteiner {
      padding: 30px 0 80px;
      flex-direction: column;
      align-items: center; } }
  @media (max-width: 550px) {
    .footer__conteiner {
      padding: 23px 0 118px; } }

@media (max-width: 550px) {
  .footer__links {
    flex-direction: column;
    align-items: center; } }

.footer__wrap-copyright-adress {
  display: flex;
  align-items: center;
  margin-bottom: 22px; }
  @media (max-width: 550px) {
    .footer__wrap-copyright-adress {
      flex-direction: column; } }

.footer__wrap-copyright-logo {
  display: flex;
  align-items: center; }
  @media (max-width: 768px) {
    .footer__wrap-copyright-logo {
      margin-bottom: 30px; } }
  @media (max-width: 550px) {
    .footer__wrap-copyright-logo {
      flex-direction: column;
      margin-bottom: 0; } }

.footer__copy {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.18;
  color: #b3b3ba; }

.footer__copyright-adress {
  display: inline-flex;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.18;
  font-weight: 500;
  color: #323264; }
  @media (max-width: 550px) {
    .footer__copyright-adress {
      margin-bottom: 10px; } }

.footer__copyright-adress-link {
  display: inline-flex;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.18;
  font-weight: 500;
  text-transform: uppercase;
  color: #24a3ff;
  transition: all 0.3s; }
  .footer__copyright-adress-link::before {
    content: url(../img/img-hero/dot.svg);
    display: inline-flex;
    align-items: center;
    color: #E6E6F0;
    margin-right: 5px;
    margin-left: 5px;
    color: #b3b3ba;
    margin-left: 10px;
    margin-right: 10px; }
    @media (max-width: 550px) {
      .footer__copyright-adress-link::before {
        display: none; } }
  .footer__copyright-adress-link:hover {
    color: #f0145a; }

.footer__copyright-tel {
  display: inline-flex;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.18;
  font-weight: 700;
  color: #323264; }
  .footer__copyright-tel::before {
    content: url(../img/img-hero/dot.svg);
    display: inline-flex;
    align-items: center;
    color: #E6E6F0;
    margin-right: 5px;
    margin-left: 5px;
    color: #b3b3ba;
    margin: 0 10px; }
    @media (max-width: 550px) {
      .footer__copyright-tel::before {
        display: none; } }
  @media (max-width: 550px) {
    .footer__copyright-tel {
      margin-bottom: 20px; } }

.footer__copyright-mail {
  display: inline-flex;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.18;
  font-weight: 700;
  color: #24a3ff;
  transition: all 0.3s; }
  .footer__copyright-mail::before {
    content: url(../img/img-hero/dot.svg);
    display: inline-flex;
    align-items: center;
    color: #E6E6F0;
    margin-right: 5px;
    margin-left: 5px;
    color: #b3b3ba;
    margin: 0 10px; }
    @media (max-width: 550px) {
      .footer__copyright-mail::before {
        display: none; } }
  .footer__copyright-mail:hover {
    color: #f0145a; }
  @media (max-width: 550px) {
    .footer__copyright-mail {
      margin-bottom: 20px; } }

.footer__facebook-logo {
  transition: all 0.3s; }
  .footer__facebook-logo:hover path {
    fill: #f0145a; }
  @media (max-width: 550px) {
    .footer__facebook-logo {
      margin-bottom: 20px; } }

@media (max-width: 550px) {
  .footer__copy--br {
    display: flex;
    justify-content: center; } }
