@charset "UTF-8";
@font-face {
  font-family: "TTNorms";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/TTNorms-Bold.woff2") format("woff2"); }

@font-face {
  font-family: "TTNorms";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/TTNorms-Medium.woff2") format("woff2"); }

@font-face {
  font-family: "TTNorms";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/TTNorms-Regular.woff2") format("woff2"); }

html,
body,
button,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  /* нулевая граница */
  padding: 0;
  /* нулевые отступы */
  border: 0;
  /* больше всего для картинок в IE6 */
  outline: 0;
  /* точечная граница вокруг ссылок в Firefox */
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none;
  /* маркеры без кружочков */ }

* {
  box-sizing: border-box; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

:focus {
  outline: 0;
  /* Firefox выделяет рамкой из точек все ссылки при нажатии */ }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  /* cellspacing="0" */
  border-spacing: 0; }

img {
  width: 100%;
  /* Упрощаем работу с изображениями */
  display: block; }

a {
  text-decoration: none;
  /* убирает подчеркивание текста */
  color: #000; }

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font-family: inherit; }

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important; } }

html {
  font-family: TTNorms, sans-serif;
  font-style: normal;
  font-size: 10px; }

.conteiner {
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 2px; }

.hero {
  min-height: 100vh;
  background: linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7a425e 87.53%);
  background-size: cover;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between; }

.hero__header {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  margin-top: 50px; }

.hero__wrap-nav {
  display: flex;
  flex-direction: column; }

.hero__wrap-switch-language {
  display: flex;
  align-items: center;
  margin-bottom: 16px; }

.switch-language {
  display: inline-flex;
  align-items: center; }

.switch-name {
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.16667;
  color: #ffffff;
  padding: 5px 6px;
  border-radius: 8px;
  transition: 0.5s; }

.switch__input {
  -webkit-appearance: none; }
  .switch__input:hover ~ .switch-name {
    background-color: #ededf7;
    cursor: pointer; }
  .switch__input:checked ~ .switch-name {
    background-color: #f0145a; }

.hero__content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  background-image: linear-gradient(180deg, rgba(50, 50, 100, 0) 16.67%, #323264 100%), url(../img/img-hero/logo.svg), url(../img/img-hero/frame.svg);
  background-size: 100% 20vh, 82vh, 82vh;
  background-repeat: no-repeat;
  background-position: bottom;
  position: relative; }

.logo-min {
  width: 155px;
  height: 62px; }

.hero__facebook-logo {
  display: inline-flex;
  width: 24px;
  height: 24px;
  align-items: center; }
  .hero__facebook-logo:hover path {
    fill: #24a3ff; }

.hero__copyright-adress {
  display: inline-flex;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 1.187;
  color: #ffffff;
  align-items: center; }

.hero__copyright-tel {
  display: inline-flex;
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 1.187;
  color: #ffffff;
  align-items: center; }

.hero__copyright-tel::before,
.hero__copyright-tel::after,
.hero__copyright-adress::before {
  content: "\25CF ";
  color: inherit;
  margin-right: 5px;
  margin-left: 5px;
  font-weight: normal;
  font-size: 1rem; }

.nav__list {
  display: flex;
  gap: 15px;
  flex-direction: row;
  justify-content: end; }

.nav__link {
  font-size: 18px;
  line-height: 1.16667;
  color: #ffffff;
  transition: 0.5s; }
  .nav__link:hover {
    color: #f0145a; }

.hero__h1 {
  display: block;
  font-weight: normal;
  font-size: 38px;
  line-height: 1.184;
  text-align: center;
  color: #ffffff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -150%); }

.hero__arrow {
  color: white;
  margin-bottom: 20px; }

.experience__conteiner {
  display: flex;
  justify-content: center;
  padding: 60px 0; }

.experience__list {
  width: 43%;
  display: flex;
  flex-direction: column;
  align-items: flex-end; }

.experience__link {
  display: block;
  font-size: 4.2rem;
  line-height: 1.2;
  font-weight: bold;
  color: #b3b3ba;
  border-right: 4px solid #b3b3ba;
  padding-right: 40px;
  transition: 0.5s; }
  .experience__link:hover, .experience__link:focus {
    background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
    background-clip: ilinear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-color: #F0145A; }

.experience__link-span {
  display: flex;
  justify-content: end; }

.experience__wrap-text {
  width: 57%;
  padding: 35px 40px 0 40px; }

.experience-h2 {
  font-weight: 500;
  font-size: 32px;
  line-height: 1.1875;
  color: #ffffff;
  margin-bottom: 20px; }

.experience__text {
  font-size: 21px;
  line-height: 1.42857;
  color: #ffffff; }

.services {
  background-image: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  border-radius: 0px 0px 12px 12px; }

.services-link {
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.21429;
  color: #ffffff;
  opacity: 0.5;
  margin-bottom: 3px; }

.services__title {
  font-weight: 700;
  font-size: 4.2rem;
  line-height: 1.19048;
  background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  background-clip: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 68px; }

.services__card {
  padding: 1px; }

.services__img {
  width: 92px;
  margin-bottom: 20px; }

.services__title-card {
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 1.16667;
  color: #24a3ff;
  margin-bottom: 15px; }

.services__text-card {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.44444;
  color: #ffffff;
  margin-bottom: 58px; }

.services__wrap-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  column-gap: 40px; }

.shadow-1 {
  margin: 0 20px;
  height: 10px;
  background: #cacadb;
  border-radius: 0px 0px 12px 12px; }

.shadow-2 {
  margin: 0 40px 40px;
  height: 10px;
  background: #e7e7f2;
  border-radius: 0px 0px 12px 12px; }

.team__card {
  height: 500px;
  margin: 0 0 20px;
  display: grid;
  grid-template-columns: 413px 1fr;
  border-radius: 12px;
  overflow: hidden; }

.team__wrap-img {
  overflow: hidden; }

.team__content {
  padding: 40px;
  background: #f5f5fa; }

.team__link {
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.21429;
  color: #24a3ff;
  margin-bottom: 3px; }

.team__title {
  font-weight: 700;
  font-size: 4.2rem;
  line-height: 1.19048;
  background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  background-clip: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px; }

.team__name {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.16667;
  margin-bottom: 5px;
  color: #b3b3ba; }

.team__position {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.44444;
  color: #b3b3ba; }

.slider-pagination {
  margin-bottom: 40px;
  display: flex;
  justify-content: center; }

.slider-pagination__bg {
  display: inline-block;
  background-color: rgba(36, 163, 255, 0.2);
  padding: 8px;
  border-radius: 50%;
  transform: translateX(-90%);
  transition: 0.5s; }

.slider-pagination__input {
  -webkit-appearance: none; }
  .slider-pagination__input:hover ~ .slider-pagination__bg {
    background-color: rgba(36, 163, 255, 0.6);
    cursor: pointer; }
  .slider-pagination__input:checked ~ .slider-pagination__bg {
    background-color: #24a3ff; }

.cases__conteiner {
  display: flex;
  flex-direction: column; }

.cases__item1 {
  display: grid;
  grid-template-columns: 24.242fr 8.56fr 25.757fr 8.636fr 32.8fr;
  grid-template-rows: 8.948fr 31.083fr;
  grid-template-areas: "tl  tl   a   a   b " " c   c   a   a   b ";
  column-gap: 3px;
  overflow: hidden;
  border-radius: 12px 12px 0 0;
  background-color: transparent;
  order: 1; }
  .cases__item1:focus-within ~ .cases__wrap-text {
    margin: 1.5px 0;
    visibility: visible;
    opacity: 1;
    margin: 1.5px 0;
    height: inherit; }

.cases__item2 {
  display: grid;
  grid-template-columns: 24.242fr 8.56fr 25.757fr 8.636fr 32.8fr;
  grid-template-rows: 31.083fr;
  grid-template-areas: " d   f   f   e   e ";
  column-gap: 3px;
  overflow: hidden;
  border-radius: 0 0 12px 12px;
  background-color: transparent;
  margin-bottom: 30px;
  order: 3; }
  .cases__item2:focus-within ~ .cases__wrap-text {
    margin: 1.5px 0;
    visibility: visible;
    opacity: 1;
    margin: 1.5px 0;
    height: inherit; }

.cases__wrap-text {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ededf7;
  visibility: hidden;
  opacity: 0;
  order: 2;
  height: 0.1px;
  margin: 0; }

.cases__card-txt {
  display: none; }

.cases__card1 {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 100%;
  background-color: #f5f5fa;
  margin: 1.5px 0; }
  .cases__card1:nth-child(1) {
    grid-area: tl; }
  .cases__card1:nth-child(2) {
    grid-area: c; }
  .cases__card1:nth-child(3) {
    grid-area: a; }
  .cases__card1:nth-child(4) {
    grid-area: b; }
  .cases__card1:not(.nothover):hover, .cases__card1:not(.nothover):focus {
    background-color: #ededf7; }

.cases__card2 {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 100%;
  background-color: #f5f5fa;
  margin: 1.5px 0; }
  .cases__card2:nth-child(1) {
    grid-area: d; }
  .cases__card2:nth-child(2) {
    grid-area: f; }
  .cases__card2:nth-child(3) {
    grid-area: e; }
  .cases__card2:hover, .cases__card2:focus {
    background-color: #ededf7; }

.cases__title-h3caps {
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.21429;
  color: #f0145a;
  margin: 20px;
  text-transform: uppercase; }

.cases__title-h3 {
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 1.16667;
  color: #686887;
  margin: 20px 20px 0 20px; }

.cases__copy {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.44444;
  color: #b3b3ba;
  padding: 20px; }

.cases__text {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.44444;
  color: black;
  padding: 40px 0;
  padding-left: calc((100vw - 85%) - 40px);
  padding-right: calc((100vw - 85%) - 40px); }
