$color-main: (
    regular: rgba(50, 50, 100, 1),
    alt: rgba(70, 70, 110, 1),
    soft: rgba(104, 104, 135, 1),
);
$color-accent: rgba(240, 20, 90, 1);
$color-active: (
    regular: rgba(36, 163, 255, 1),
    hover: rgba(0, 133, 255, 1),
    active: rgba(0, 108, 207, 1),
);
$color-grey: (
    bg: rgba(245, 245, 250, 1),
    bg-alt: rgba(237, 237, 247, 1),
    text: rgba(179, 179, 186, 1),
    separator: rgba(230, 230, 240, 1),
);
$color-gradient: (
    regular: linear-gradient(128.63deg, #323264 0%, #323264 73.96%, #A54B5F 100%),
    soft: linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%),
    red: linear-gradient(121.42deg, #F0145A 30.65%, #693264 107.33%),
    supersoft: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%),
    redtext: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%),
);
